*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}
nav{
    width: 100%;
    background-color:rgb(69, 69, 69);
    padding-bottom: 50px;
}

.profile-img  img{
    width: 300px;
    padding:5px 2%;
    margin-top: 50px;
    margin-bottom: 5px;
    background-size: contain;
}
.profile-img img{
    border-radius: 90px 90px 90px 90px;
}

.text-title{
    width: 100%;
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.introducao-text{
    margin-top: 50px;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    padding: 0 2%;
    margin-bottom: 15px;
}
.introducao-text a{
    color: blue;
}
.text-title > .line2{
    margin: 0 auto;
    
}
a {
    color: #fff;
    text-decoration: none;
}
.line{
    width: 50%;
    border-bottom: 5px solid rgb(69, 69, 69);
    margin-bottom: 5px;
    padding: 15px 2%;
}
.line2{
    width: 70%;
    border-bottom: 5px solid rgb(69, 69, 69);
    margin-bottom: 15px;
    padding: 10px 2%;
}

section.projetos{
    width: 100%;
    background-color: rgb(31, 30, 30);
}
.title2 h2{
    color: #fff;
    padding-top: 15px;
}
.title2 h3{
    color: #fff;
    padding-top: 15px;
}
.descricao{
    color: #fff;
    text-align: center;
  
}
.projetos-quadro{
    width:100%;
    margin-top: 50px;
}
.quadro{
    width: 33.3%;
    color: azure;
    padding: 0 2%; 
    margin-bottom: 25px;
}
.quadro img{
width: 100%;
background-size: contain;
padding: 0 2%;
}

section.contato{
    width: 100%;
    margin-bottom: 80px;
}
section.contato h2{
    margin-top: 55px;
}
.division{
    width: 100%;
   display: flex;
   flex-direction: row;
  
}
.division p{
    margin-top: 5px;
    text-align: center;
}
.left-columm_c{
    width: 50%;
    padding-right: 45px;
}
.right-columm_c{
    width: 50%;
}
.right-columm_c h3{
    text-align: center;
    font-size: larger;
}
.icon_social{
    text-align: center;
    margin-top: 5px;
    padding: 5px 2%;
}
.icon_social a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

footer{
    width: 100%;
    padding: 25px;
    background-color: rgb(69, 69, 69);
    text-align: center;
    color: #fff;
}

/*Responsivo*/
@media only screen and (max-width: 600px) {
    .quadro{
    width: 100%;
     margin-bottom: 25px;
    }
    span{
        font-size: medium;
       padding: 0 2%;
    }
    .hide{
        flex-wrap: wrap;
    }
    .division{
        flex-direction: column;
    }
    .right-columm_c{
        margin-top: 35px;
        width: 100%;
    }
    .left-columm_c{
        width: 100%;
    }
    .icon_social{
        text-align: center;
       margin: 0 auto;
    }
}
/* animations */
div.quadro:hover{
padding-top: 10px;
background-color: rgb(69, 69, 69);
transition: 1s;
cursor: pointer;
}
.line:hover{
    width: 80%;
    transition: 1s;
}
.line2:hover{
    width: 100%;
    transition: 1s;
}
.btn:hover{
    transition: 1s;
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
}
/* class masters*/
.hide{
    width: 100%;
    display: none;
}
.btn{
    border: 0;
    padding: 10px 2%;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 15px;
    font-size: larger;
}
.center{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}